.profile-info {
    margin-top: 30px;
    display: flex;
    align-items: center;

    &__inner {
        width: 250px;
    }

    &__pic {
        position: relative;
        width: 90px;
        height: 90px;
        margin-right: 20px;
        border-radius: 50%;
        overflow: hidden;
        background: #9E9E9E;
    }

    &__name {
        margin-bottom: 6px;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
    }

    &__capt {
        margin-top: 6px;
        font-size: 14px;
        line-height: 17px;
        color: #9E9E9E;
    }

    &__row {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.1px;
    }

    &__count {
        margin-right: 4px;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.3px;

        &:not(:first-child) {
            margin-left: 10px;
        }
    }

    &__txt {
        font-weight: 500;
        color: #404040;
    }

    &__link {
        text-decoration: underline;
        color: #31AE54;
        cursor: pointer;
    }
}