<div class="profile-info">
    <div class="profile-info__pic">
        <img src="@/assets/img/user.png" alt="">
    </div>
    <div class="profile-info__inner">
        <div class="profile-info__name">joshua_l</div>
        <div class="profile-info__row">
            <div class="profile-info__count">54</div>
            <div class="profile-info__txt">reposts</div>
            <div class="profile-info__count">834</div>
            <a class="profile-info__link" href="#">watchers</a>
        </div>
        <div class="profile-info__capt">Jacob West</div>
    </div>
</div>