@import './src/assets/scss/vars';

.user {
    display: inline-block;
    vertical-align: top;
    width: 92px;
    text-align: center;
    cursor: pointer;

    @media (max-width: $laptop) {
        margin-right: 30px;
    }

    @media (max-width: $tab) {
        margin-right: 12px;
    }

    @media (max-width: $mobile) {
        margin-right: 10px;
        width: 72px;
    }

    &__pic {
        position: relative;
        width: 92px;
        height: 92px;
        border: 2px solid #A6328D;
        border-radius: 50%;
        overflow: hidden;

        @media (max-width: $mobile) {
            width: 72px;
            height: 72px;
        }

        &.load {
            background: #9E9E9E;
        }

        img {
            border: 4px solid #fff;
            border-radius: 50%;
        }
    }

    &__name {
        margin-top: 10px;
        font-size: 12px;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}