.repository {
    margin-bottom: 24px;

    &__owner {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    &__img {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__name {
        margin-left: 14px;
        font-size: 18px;
        line-height: 1;
        font-weight: bold;
    }

    &__date {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.1em;
        color: rgba(0, 0, 0, 0.4);
    }

    &__skeleton {
        margin-top: 10px;
    }

    &__issues {
        margin-top: 18px;
    }

    &__issue {
        display: flex;

        &:not(:first-child) {
            margin-top: 6px;
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__issue-name {
        margin-right: 8px;
        font-weight: bold;
    }

    &__toggle {
        position: relative;
        display: inline-block;
        padding-right: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.6;
        cursor: pointer;

        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 10px;
            height: 6px;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.79959 5.26034C9.51774 5.56387 9.04319 5.58144 8.73966 5.29959L5 1.77348L1.26033 5.29959C0.956802 5.58144 0.482254 5.56387 0.200401 5.26034C-0.0814505 4.9568 -0.0638747 4.48225 0.239658 4.2004L4.48966 0.200402C4.77742 -0.0668046 5.22257 -0.0668046 5.51033 0.200402L9.76034 4.2004C10.0639 4.48225 10.0814 4.9568 9.79959 5.26034Z' fill='%23212121'/%3E%3C/svg%3E%0A");
            background-size: 10px;
            content: '';
            transform: scale(-1);
        }

        &.active {
            &:before {
                transform: scale(1);
            }
        }
    }

    &__block {
        padding: 32px;
        border: 1px solid #F1F1F1;
        border-radius: 10px;
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
    }

    &__ttl {
        display: inline-block;
        margin-bottom: 12px;
        font-size: 26px;
        line-height: 28px;
        font-weight: bold;
    }

    &__text {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 26px;
    }

    &__panel {
        display: inline-block;
        height: 28px;
        border: 1px solid #D9DBDB;
        border-radius: 6px;
        overflow: hidden;
        font-size: 14px;
        line-height: 28px;
        color: #24292E;
    }

    &__inner {
        display: flex;
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 0 12px;
        border-right: 1px solid #D9DBDB;
        background: #FAFBFC;
        transition: color 0.25s ease-out;

        svg {
            width: auto;
            height: 14px;
            margin-right: 5px;
            transition: fill 0.25s ease-out;
        }

        &:hover {
            color: #31AE54;

            svg {
                fill: #31AE54;
            }
        }
    }

    &__count {
        padding: 0 12px;

        &:not(:last-child) {
            border-right: 1px solid #D9DBDB;
        }
    }
}