<div class="repository">
    <div class="repository__owner" v-if="data?.login">
        <div class="repository__img">
            <img :src="data?.avatar" width="44" height="44" alt="avatar">
        </div>
        <div class="repository__name">
            {{ data?.login }}
        </div>
    </div>

    <div class="repository__block">
        <a class="repository__ttl" :href="data?.url" target="_blank">
            {{ data?.name }}
        </a>
        <div class="repository__text">
            {{ data?.description }}
        </div>
        <div class="repository__panel">
            <div class="repository__inner">
                <a class="repository__link" :href="data?.url + '/stargazers'" target="_blank">
                    <Icon :name="'star'"></Icon>
                    Star
                </a>
                <div class="repository__count">
                    {{ data?.stargazers }}
                </div>
                <a class="repository__link" :href="data?.url + '/network/members'" target="_blank">
                    <Icon :name="'fork'" class="icon__repo"></Icon>
                    Fork
                </a>
                <div class="repository__count">
                    {{ data?.forks }}
                </div>
            </div>
        </div>
    </div>

    <div class="repository__issues" v-if="data?.issues">
        <div class="repository__toggle"
             :class="{active: data?.active}"
             @click="$emit('toggleIssues')">
            <template v-if="data?.active">Hide issues</template>
            <template v-else>View issues</template>
        </div>
        <Skeleton v-if="!data?.issues.length && data?.active"
                  :type="'repo'"
                  class="repository__skeleton"
        ></Skeleton>
        <template v-if="data?.issues.length && data?.active">
            <div class="repository__issue"
                 v-for="issue in data?.issues"
                 :key="issue.id">
                <div class="repository__issue-name">
                    {{ issue.user.login }}
                </div>
                <div class="repository__issue-text">
                    {{ issue.title }}
                </div>
            </div>
        </template>
    </div>

    <div class="repository__date" v-if="data?.date">
        {{ data?.date }}
    </div>
</div>