<header class="header">
    <div class="header__inner g-container">
        <div class="header__top">
            <Logo></Logo>
            <div class="header__right">
                <a href="/" class="header__home">
                    <Icon :name="'home'"></Icon>
                </a>
                <a href="/profile" class="header__user">
                    <img :src="avatar" width="38" height="38" alt="avatar">
                </a>
                <a href="/logout" @click="logout()" class="header__out">
                    <Icon :name="'logout'"></Icon>
                </a>
            </div>
        </div>
        <div class="header__users">
            <slot name="users"></slot>
        </div>
    </div>
</header>