@import '@/assets/scss/vars';

.profile-page {
    position: relative;

    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @media (max-width: $tab) {
            padding-bottom: 160px;
        }

        @media (max-width: $mobile) {
            padding-bottom: 120px;
        }
    }
}

.profile {
    &__inner {
        display: flex;

        @media (max-width: $tab) {
            display: block;
        }
    }

    &__side {
        width: 32%;
        padding-top: 168px;

        @media (max-width: $tab) {
            width: 100%;
            padding-top: 70px;
        }

        @media (max-width: $mobile) {
            padding-top: 50px;
        }
    }

    &__body {
        width: 68%;
        min-height: 100vh;
        padding-top: 168px;
        padding-left: 74px;
        padding-bottom: 40px;
        border-left: 1px solid #D3D3D3;

        @media (max-width: $laptop) {
            padding-left: 20px;
        }

        @media (max-width: $tab) {
            width: 100%;
            min-height: auto;
            padding-top: 65px;
            padding-left: 0;
            padding-bottom: 0;
            border-left: none;
        }

        @media (max-width: $mobile) {
            padding-top: 45px;
        }
    }

    &__top {
        margin-bottom: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $tab) {
            display: none;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 26px;
        line-height: 28px;

        @media (max-width: $tab) {
            display: none;
        }
    }

    &__count {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #9E9E9E;
    }
}