<div class="profile-page">
    <Header></Header>
    <div class="profile">
        <div class="profile__inner g-container">
            <div class="profile__side">
                <h2 class="profile__title">My profile</h2>
                <ProfileInfo :data="user"></ProfileInfo>
            </div>
            <div class="profile__body">
                <div class="profile__top">
                    <h2 class="profile__title">Repositories</h2>
                    <div class="profile__count">{{ user?.public_repos }}</div>
                </div>
                <div class="profile__list">
                    <Repository v-for="repo in repos"
                                :key="repo.id"
                                :data="repo"
                    ></Repository>
                </div>
            </div>
        </div>
    </div>
</div>