.stories-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: #101010;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 48px;
    }

    &__cros {
        width: 22px;
    }
    
    &__body {
        position: relative;
        height: 667px;
    }

    &__slider {
        position: absolute;
        top: 10%;
        left: 50%;
        display: flex;
        margin-left: -188px;
        transition: transform 0.25s ease-out;
    }

    .logo {
        path {
            fill: #fff;
        }
    }

    #readme {
        font-size: 12px;

        h1, h2, h3, h4 {
            font-weight: bold;
        }

        h1, h2, h3, h4, p {
            margin: 10px 0;
        }

        a {
            color: inherit;
        }

        svg {
            display: inline;
            width: auto;
        }

        img {
            display: none;
        }

        pre {
            white-space: pre-wrap;
            font-style: italic;
        }
    }
}