<div class="stories-page">
    <div class="stories-page__inner g-container">
        <Logo></Logo>
        <a class="stories-page__cross" href="/">
            <Icon :name="'cross'"></Icon>
        </a>
    </div>
    <div class="stories-page__body">
        <div class="stories-page__slider" ref="slider">
            <Slide v-for="(trend, ndx) in trends"
                   :key="trend.id"
                   :data="getStoryData(trend)"
                   :active="slideNdx === ndx"
                   :last="slideNdx === trends.length - 1"
                   :loading="loading"
                   :btnPrev="slideNdx !== 0"
                   :btnNext="slideNdx !== trends.length - 1"
                   @onNextSlide="handleSlide(ndx + 1)"
                   @onPrevSlide="handleSlide(ndx - 1)"
                   @onProgressFinish="handleSlide(ndx + 1)"
                   @onFollow="handleFollow(ndx)"
            ></Slide>
        </div>
    </div>
</div>