@import '@/assets/scss/vars';

.following {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__user {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 18px;

        @media (max-width: $tab) {
            width: 66px;
            height: 66px;
        }

        @media (max-width: $mobile) {
            width: 56px;
            height: 56px;
            margin-right: 15px;
        }
    }

    .following__info {
        @media (max-width: $mobile) {
            width: 120px;
        }
    }

    &__name {
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        @media (max-width: $mobile) {
            margin-bottom: 3px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__type {
        font-size: 12px;
        line-height: 16px;
        color: #9E9E9E;
    }

    &__btn {
        position: relative;
        width: 115px;

        @media (max-width: $mobile) {
            width: 94px;
            height: 32px;
            line-height: 32px;
            font-size: 12px;
        }

        &.load {
            background: #9E9E9E;
            pointer-events: none;
        }
    }
}