<div class="following">
    <div class="following__user">
        <div class="following__img">
            <img :src="data.avatar" width="72" height="72" alt="avatar">
        </div>
        <div class="following__info">
            <div class="following__name">{{ data.login }}</div>
            <div class="following__type">{{ data.type }}</div>
        </div>
    </div>
    <button class="following__btn g-button"
            :class="{load: data.followLoad}"
            @click="$emit('onFollow')"
    >
        <Spinner v-if="data.followLoad" class="small"></Spinner>
        <template v-else-if="!data.follow">Follow</template>
        <template v-else>Unfollow</template>
    </button>
</div>