@import '@/assets/scss/vars';

.home-page {
    &__container {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .header__bottom {
        padding-top: 37px;

        @media (max-width: $laptop) {
            margin-right: -20px;
            overflow: hidden;
        }

        @media (max-width: $tab) {
            padding-top: 30px;
            height: 150px;
        }

        @media (max-width: $mobile) {
            margin-bottom: -20px;
            margin-right: -10px;
            height: 130px;
        }
    }

    .header__users {
        display: flex;
        justify-content: space-between;

        @media (max-width: $laptop) {
            display: block;
            white-space: nowrap;
        }

        @media (max-width: $tab) {
            overflow: auto;
            padding-bottom: 20px;
        }
    }
}
