<div class="home-page">
    <Header>
        <template #users>
            <User v-for="trend in trends"
                  :key="trend.id"
                  :data="getUserData(trend)"
                  @click="$router.push({name: 'Stories', params: {slide: trend.id}})"
            ></User>
        </template>
    </Header>
    <div class="home-page__container g-container">
        <Repository v-for="repo in starred"
                    :key="repo.id"
                    :data="getRepoData(repo)"
                    @toggleIssues="toggleIssues(repo.id, repo.owner.login, repo.name, repo.issues)"
        ></Repository>
    </div>
</div>