.login-page {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    text-align: center;

    &__inner,
    .g-button,
    .logo {
        margin: 0 auto;
    }

    .g-button {
        width: 252px;
    }

    &__text {
        margin: 12px auto 38px;
        font-size: 18px;
        line-height: 28px;
        color: #6F6F6F;
    }

    &__copy {
        margin: -20px auto 30px;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.4);
    }

    &__img {
        width: 800px;
        margin: 90px auto 0;
    }
}