.slide {
    position: relative;
    width: 375px;
    height: 667px;
    border-radius: 8px;
    background: #fff;
    transform: scale(0.8);
    transition: transform 0.25s ease-out;

    &.active {
        z-index: 5;
        transform: scale(1);
    }

    &__top {
        padding: 12px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #cacaca;
    }

    &__img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px;
    }

    &__ttl {
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
    }

    &__bottom {
        padding: 24px 52px 32px;
        border-top: 1px solid #cacaca;
    }

    &__body {
        height: 500px;
        overflow: auto;
        padding: 18px;
    }

    &__skeleton-big {
        margin-bottom: 25px;
    }

    &__skeleton-tree {
        margin-bottom: 20px;
    }

    &__btn {
        position: relative;

        &.load {
            background: #9E9E9E;
            pointer-events: none;
        }
    }
}